.c-btn
  background-color: black
  color: white
  cursor: pointer
  padding: 10px 25px

  &--nextStep
    position: absolute
    top: 50%
    width: 38.5%
    height: 0px
    //background-color: red
    transform: translate(0, -50%)

    &--left
      left: 5.35%
    &--right
      right: 5.35%
